<div class="container" >

    <h1>Employees Query</h1>

    <form name="queryForm" novalidate class="form-inline" ng-submit="ctrl.search()">
        <div class="form-group">
            <label for="emp_no">Employee number:</label>
            <input id="emp_no" class="form-control" type="number" name="empNo"
                   placeholder="Enter employee number to search" ng-model="ctrl.empNo">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid">
                Search
            </button>
        </div>
    </form>

    <table class="table table-striped" ng-show="ctrl.result">
        <thead>
        <tr>
            <th>Field name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Employee number</td>
            <td>{{ ctrl.result.emp_no }}</td>
        </tr>
        <tr>
            <td>First name</td>
            <td>
                <div ng-hide="ctrl.editorEnabled">
                    {{ ctrl.result.first_name }}
                    <a >
                        &nbsp;<i ng-click="ctrl.enableEditor()" class="fa fa-pencil fa-lg" aria-hidden="true" ></i>
                    </a>
                </div>
                <div ng-show="ctrl.editorEnabled">
                    <input class="form-control" size="3" ng-model="ctrl.editableFirstName" ng-show="ctrl.editorEnabled">
                    <a href="#" ng-click="ctrl.save()">Save</a>
                    or
                    <a href="#" ng-click="ctrl.disableEditor()">cancel</a>.
                </div>
            </td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>{{ ctrl.result.last_name }}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{ ctrl.result.gender }}</td>
        </tr>
        <tr>
            <td>Birth date</td>
            <td>{{ ctrl.result.birth_date | date }}</td>
        </tr>
        <tr>
            <td>Hire date</td>
            <td>{{ ctrl.result.hire_date | date }}</td>
        </tr>
        <tr ng-show="ctrl.result.salaries[0].salary">
            <td>Salary </td>
            <td>{{ ctrl.result.salaries[0].salary |  currency:"S$ "}}
                <a >
                    &nbsp;<i ng-click="ctrl.deleteSalary(ctrl.result.emp_no)" style="color:red" class="fa fa-trash fa-lg" aria-hidden="true" ></i>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
